<mat-toolbar class="col-12">
    <mat-toolbar-row>
        <mat-icon class="navbar-brand-icon">wc</mat-icon>
        <div>
            <span class="navbar-brand">Legacy Life Plans</span>
            <span class="sub-heading">Passing on...Peace of mind</span>
        </div>

        <span class="menu-spacer"></span>
        <div>
            <a mat-button target="_blank">
                <mat-icon class="mat-icon">home</mat-icon>
                <span class="menu-items" routerLink="/home" routerLinkActive="active">Home</span>
            </a>
            <a mat-button target="_blank">
                <mat-icon class="mat-icon">people</mat-icon>
                <span class="menu-items" routerLink="/trustees" routerLinkActive="active">Trustees</span>
            </a>
            <a mat-button target="_blank" >
                <mat-icon class="mat-icon">person</mat-icon>
                <span class="menu-items" routerLink="/professionals" routerLinkActive="active">Professionals</span>
            </a>
            <a mat-button target="_blank">
                <mat-icon class="mat-icon">more_horiz</mat-icon>
                <span class="menu-items" routerLink="/more" routerLinkActive="active">More</span>
            </a>
            <a mat-button class="right-side-menu" href="#">
                <mat-icon>search</mat-icon>
            </a>
            <button mat-raised-button color="warn" href="#">
                <mat-icon>mail</mat-icon>
                <span class="menu-items">Invite</span>
            </button>
            <button mat-button href="#">
                <img src="/assets/DSC_0110.jpg" alt="" class="image">
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>